<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"bb-main bb-home","layout":{"type":"default"}} -->
<main class="wp-block-group bb-main bb-home">

	<!-- wp:pattern {"slug":"bluebee/hero"} /-->
	<!-- wp:pattern {"slug":"bluebee/marquee"} /-->
	<!-- wp:pattern {"slug":"bluebee/services"} /-->
	<!-- wp:pattern {"slug":"bluebee/work"} /-->
	<!-- wp:pattern {"slug":"bluebee/stats"} /-->
	<!-- wp:pattern {"slug":"bluebee/testimonials"} /-->
	<!-- wp:pattern {"slug":"bluebee/cta"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
